@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

:root{
    --princ: #4a1079;
    --violeta-claro: #370e58;
    --violeta-escuro: #210736;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../images/bg-img-ofc.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    border-radius: ;
    background-color: white;
    width: 280px;
    height: 500px;
    margin: auto;
}

#logos{
    display: flex;
}
#logos img:first-child{
    width: 80px;
1
}
#logos img:last-child{
    width: 50px;
}
